.App {
  background-color: #faf1e6;
}

header {
  border-bottom: 3px solid black;
  padding: 4rem;
  background-color: #ffcb05;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    letter-spacing: 0.2rem;

    h1 {
      font-size: 4rem;
    }
    text-align: center;
  }
  .nes-balloon {
    position: absolute;
    top: 2rem;
    padding: 0.3rem;
  }
  .nes,
  .nes-pokeball {
    padding-top: 2rem;
  }
}

.container {
  margin: 3rem 10rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 4rem;
  column-gap: 4rem;
}
.cards {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}
#Cards {
  background-color: #faf3f3;
  padding: 0;
  .sprite {
    width: 15rem;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }
  p {
    background-color: #faf3f3;
  }
}

.ScoreBoard {
  position: absolute;
  top: 0;
  right: 15rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 1rem;
  margin-top: 0;
  .gameOver {
    color: #fb3640;
  }
  button {
    pointer-events: none;
  }
  &::before {
    content: "";
    border-right: 8px double black;
    border-left: 8px double black;
    width: 10rem;
    margin-right: 4rem;
    height: 3rem;
  }
}

.Footer {
  width: 100%;
  margin-top: 8rem;
  background-color: #ffcb05;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    margin-left: 1rem;
  }
}

.loader {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.vibrate {
  -webkit-animation: vibrate 0.5s linear infinite both;
  animation: vibrate 0.5s linear infinite both;
}

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
