@import 'breakpoint-sass';
$phone: 300px;
$tablet: 768px;
$desktop: 1200px;

.App {
  background-color: #faf1e6;
  .nes-container.is-rounded {
    border-image-slice: 3;
    border-image-width: 3;
    border-image-repeat: stretch;
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
    border-image-outset: 2;
    padding: 1rem 1.5rem;
    margin: 4px;
  }
}

header {
  border-bottom: 3px solid black;
  background-color: #ffcb05;

  @include breakpoint($phone) {
    .nes,
    .nes-pokeball,
    .nes-balloon {
      display: none;
    }
    .title {
      letter-spacing: 0.2rem;
      text-align: center;
      h1 {
        font-size: 1.5rem;
      }
    }
  }
  @include breakpoint($tablet) {
    padding: 1rem;
    .title {
      h1 {
        font-size: 4rem;
      }
    }
  }

  @include breakpoint($desktop) {
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    .nes-balloon {
      position: absolute;
      top: 2rem;
      left: 7rem;
      padding: 0.3rem;
      display: block;
    }
    .nes,
    .nes-pokeball {
      padding-top: 2rem;
      display: block;
    }
  }
}

.container {
  @include breakpoint($phone) {
    margin: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 1.5rem;
  }
  @include breakpoint($tablet) {
    margin: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
  }

  @include breakpoint($desktop) {
    margin: 8rem;
    margin-top: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 4rem;
  }
  display: grid;

  min-height: 35rem;
}

#Cards {
  background-color: #faf3f3;
  padding: 0;
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  min-height: 5rem;
  .title {
    font-size: 0.7rem;
  }
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .sprite {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }

  @include breakpoint($tablet) {
    min-width: 10rem;
    .title {
      font-size: 1rem;
    }
    .sprite {
      width: 15rem;
    }
  }
  p {
    background-color: #faf3f3;
  }
}

.ScoreBoard {
  text-align: center;
  margin-top: 0.5rem;
  @include breakpoint($phone) {
    font-size: 0.6rem;
  }
  @include breakpoint($tablet) {
    font-size: 1rem;
  }
  @include breakpoint($desktop) {
    position: absolute;
    top: 0;
    right: 13rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1rem;
    margin-top: 0;
    .gameOver {
      color: #fb3640;
    }
    button {
      pointer-events: none;
    }
    &::before {
      content: '';
      border-right: 8px double black;
      border-left: 8px double black;
      width: 10rem;
      margin-right: 4rem;
      height: 3rem;
    }
  }
}

.Footer {
  background-color: #ffcb05;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    margin-left: 1rem;
  }
}

.loader {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background-color: #faf1e6;
}

.vibrate {
  -webkit-animation: vibrate 0.5s linear infinite both;
  animation: vibrate 0.5s linear infinite both;
}

@-webkit-keyframes vibrate {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, -2px);
  }
  70% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  90% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, -2px);
  }
  70% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  90% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
